html{
	font-family: 'Times New Roman', Times, serif;
}
body {
	width: 100%;
	min-width: 320px;
}

body section {
	float: left;
}

body h1 {		
	display: block;
	float: left;
	width: 70%;
	margin-left: 24%;
}

body section:nth-of-type(2) {
	width: 70%;
	margin-left: 2%;
	margin-right: 2%;
}

body > ul {	
	display: block;
	width: 100%;
	float: left;
	padding-left: 378px;
}

body > ul > li {	
	display: block;
	width: 20%;
	float: left;
	padding-left: 2px;
}

body > ul > li + li  {	
	display: block;
	width: 290px;
	float: left;
}

body > ul > li + li + li  {	
	display: block;
	width: 16%;
	float: left;
}



